.mini_description_container {
    margin: 0% 10%;
}

.current_events {
    margin: 5% 10%;
}

.current_events_title {
    font-size: 2em;
}

.current_events_container:after {
    content: "";
    display: table;
    clear: both;
}

.ce_image_container {
    width: 30%;
    float: left;
    position: relative;
    height: auto;
	margin: 0% 0px;
}
.ce_image {
    width: 100%;
    height: auto;
    left: 0;
    position: relative;
}

.ce_text_container {
    width: 70%;
    float: left;
    position: relative;
    height: auto;
    left: 40px;
}

.ce_date {
    color: #1A3263;
    text-transform: uppercase;
    font-weight: 600;
}

.ce_name {
    font-size: 2em;
    font-weight: bold;
}

@media only screen and (max-width: 680px) {
    .ce_image_container {
        width: 100%;
        float: none;
        display: block;
        margin: 0 auto;
    }
    .ce_text_container {
        width: 100%;
        float: none;
        display: block;
        margin: 0 auto;
        left: 0;
    }
    .ce_name {
        font-size: 1.5em;
    }
}