:root {
    /* variables for colours */
    --black: #333333;
    --white: #FFFFFF;
    --teal: #55CEBC;
    --peach: #FF7257;
    --yellow: #F5B46B;
    --dark-blue: #1A3263;
    --blue: #778AB1;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a {
    color: var(--white);
    text-decoration: none;
}

/* NAV AND FOOTER SHARED */
#navbar, .footer_section {
    color: var(--white);
}

.logo-title, .footer_title {
    font-size: 1.2em;
}

.logo-slogan, .footer_slogan {
    font-weight: 400;
    font-size: 0.75em;
}

/* TITLES */
.title {
    font-size: 2em;
    text-align: center;
}

/* NAVBAR SECTION */
#navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90vw;
    height: fit-content;
    top: 0;
    padding: 0rem 3rem;

    background-color: var(--black);
    z-index: 1000;
}

.logo {
    height: fit-content;
    line-height: 50%;
}

ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
}

.nav-links {
    margin: 0 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.nav-links:hover {
    background-color: var(--blue);
}

#navbar-burger {
    display: none;
    cursor: pointer;
}

.nav-links.clicked {
    display: block;
}

/* mobile */
@media screen and (max-width: 1024px) {
    .nav-links {
        margin: 0 0.25rem;
        padding: 0.3rem;
    }
}

@media screen and (max-width: 900px) {
    ul {
        position: absolute;
        left: 0;
        top: 9vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: var(--black);
    }

    .nav-links {
        width: inherit;
        display: none;
    }

    #navbar-burger {
        display: block;
    }
}

/* OUR IMPACT SECTION */

.our_impact_section {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 50vh;
    
}

.our_impact_section:after {
    content: "";
    display: table;
    clear: both;
  }

.impact {
    width: 24%;
    float: left;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.impact_text {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 1.5em;
}

/* .impact_divider {
    height: 90%;
    width: 1%;
    position: relative;
    background: #333;
} */

 /* FOOTER SECTION */ 
/* CALENDAR SECTION */
#calendar {
    text-align: center;
    margin: 0 auto;
}

/* FOOTER SECTION */
.footer_section {
    height: 15vh;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3rem;
}

.footer_text {
    margin-bottom: -22px;
    padding: 3px;
    left: 80px;
    line-height: 85%;
}

.footer_nav {
    display: flex;
    left: 59.375rem; /* lol ignore this insane measurement, will fix later dw */
    justify-content: center;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
}


.footer_links {
    display: block;
    text-decoration: underline;
    text-underline-offset: 2.5px;
    font-size: 0.9em;
    margin: 0 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
}

.footer_socials {
    position: relative;
    margin-left: auto;
}

.sub_div {
    position: absolute;
    margin-top: 1.6rem;
    margin-left: 2.7rem;
}
.established_text {
    font-weight: 300;
    font-size: 11px;
    /* display: flex;
    justify-content: center;
    text-align: center; */
}

.column {
  float: left;
  padding: 15px; /* spacing between social link logos */ 
}

.socials_links {
    right: 80px;
    display: flex;
    justify-content: center;
    bottom: 390px;
} 