:root {
    /* variables for colours */
    --black: #333333;
    --white: #FFFFFF;
    --teal: #55CEBC;
    --peach: #FF7257;
    --yellow: #F5B46B;
    --dark-blue: #1A3263;
    --blue: #778AB1;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a {
    color: var(--white);
    text-decoration: none;
}

/* NAV AND FOOTER SHARED */
#navbar, .footer_section {
    color: var(--white);
}

.title {
    font-size: 25px;
}

.slogan {
    font-weight: 400;
    font-size: 16px;
}

/* NAVBAR SECTION */
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: fit-content;
    padding: 0.5rem 3rem;

    background-color: var(--black);
}

.logo {
    height: fit-content;
    line-height: 85%;
}

ul {
    display: flex;
    padding: 0;
    list-style-type: none;
}

.nav-links {
    margin: 0 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    transition: ease-in-out 0.2s;
}

.nav-links:hover {
    background-color: var(--blue);
}

/* OUR IMPACT SECTION */

.our_impact_section {
    position: relative;
    display: block;
    margin: 0 auto;
}

/* FOOTER SECTION */
.footer_section {
    background-color: var(--black);
    height: 200px;
}

.footer_text {
    position: absolute;
    padding: 3px;
    left: 80px;
    bottom: 352px;
    line-height: 85%;
}

.footer_nav {
    position: absolute;
    display: flex;
    left: 950px;
    justify-content: center;
    bottom: 385px;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
}

.footer_links {
    display: block;
    text-decoration: underline;
    text-underline-offset: 2.5px;
    font-size: 16px;
    padding: 20px;
}

.established_text {
    position: absolute;
    font-weight: 300;
    display: flex;
    left: 968px;
    justify-content: center;
    bottom: 345px;
}

.footer_socials {
    display: block;
    margin-left: auto;
}
.column {
  float: left;
  padding: 15px; /* spacing between social link logos */

}

.socials_links {
    position: absolute;
    right: 80px;
    display: flex;
    justify-content: center;
    bottom: 390px;
}

.impact {

}
