* {
  box-sizing: border-box;
}

/* MIDDLE SECTION */
.middle_section {
  background: #FFFFFF;
  height: auto;
  width: 100%;
  position: relative;
}

.middle_section_container {
  margin: 0 10%;
}

.middle_section_container:after {
  content: "";
  display: table;
  clear: both;
}

.middle_text_container {
  width: 50%;
  float: left;
  position: relative;
  height: auto;
  margin: 5% 0px;
  top: 80px;
}

.middle_text {
  font-family: 'Poppins';
  font-size: 1em;
  color: #333333;
  margin-bottom: 0px;
}
.middle_image_container {
  width: 50%;
  float: left;
  position: relative;
  height: auto;
  margin: 5% 0px;
  top: -100px;
}
.middle_yhymember {
  position: relative;
  height: 600px;
  width: auto;
  float: right;
}

/* Our Values Section */

.our_values_section {
  margin: 10% 0%;
}
.our_values_title {
  text-align: center;
  width: 100%;
  display: block;
  font-size: 2em;
  font-weight: bold;
  color: #333333;
}
.our_values_container {
  display: block;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.our_values_column {
  flex: 1;
}

button, #our_values_title, h6 {
  font-family: 'DM Serif Display', serif;
}

button, #our_values_title {
  font-size: 2em;
}

#our_values_title, h6 { /* b/c universal.css has margin: 0 and padding: 0 applied on BODY, which means headings still have margin/padding */
  padding: 0;
  margin: 0;
}

#our_values_words_container {
  display: flex;
  flex-direction: column;
  margin: 1rem 10rem;
}

button {
  padding: 1rem;
  margin: 1rem 0;
  border: 0.1em solid #333333;
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  background-color: #F5B46B;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

#our_values_desc_container {
  padding: 4rem 3rem;
  margin: 5rem;
  background-color: #333333;
  color: #FFF;
  height: 100%;
}

#our_values_type {
  margin-top: 2rem;
  font-style: italic;
}

h6, #our_values_type, #our_values_description {
  font-size: 1.25em;
}

/* Testimonials */
.testimonial_cyan_bg {background: #55CEBC;}
.testimonial_cyan_text {color: #55CEBC;}

.testimonial_red_bg {background: #FF7257;}
.testimonial_red_text {color: #FF7257;}

.testimonial_orange_bg {background: #F5B46B;}
.testimonial_orange_text {color: #F5B46B;}

.testimonials_section {
  margin: 10% 0%;
  overflow-x: hidden;
}

.testimonials_title {
  text-align: center;
  width: 100%;
  display: block;
  font-size: 2em;
}
 
#testimonials {
  position:relative;
	width: 10000px;
  display: inline-block;
  margin-bottom: 5%;
}

.testimonial {
  width: 300px;
  height: 400px;
  background: #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 20px;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
}

.testimonial:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.5));
}


.quote_container {
  padding: 15px;
}

.quotation_mark {
  font-weight: bold;
  font-size: 1.4em;
}

.author_container {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.author_image_container {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  top: -50px;
}
.author_image {
  width: 100%;
  height: auto;
}

/* Testimonials ^^^ */

/* TEAM IMAGES */
.team_section {
  margin: 10% 10%;
  min-height: 100vh;
}

.team-yhylogo {
    width: 300px;
    height: auto;
    position: relative;
    display: block;
    /* Centers the logo */
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    /* Centers the logo ^^^ */
    top: 100px;
}

#team_members_container {
  position: relative;
  animation: orbit 25s infinite;
}

.member_container {
    position: absolute;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    /* left: 20%;
    top: 0px; */
}

.member_image {
    width: 100%;
    height: auto;
    animation: orbit_image 25s infinite;
}

@keyframes orbit {
  100% {transform: rotate(360deg);}
}

@keyframes orbit_image {
  100% {transform: rotate(-360deg);}
}


@media only screen and (max-width: 950px) {
    .middle_text_container {
        width: 100%;
        float: none;
    }
    .middle_image_container {
        width: 100%;
        float: none;
        margin-top: 220px;
    }
    .middle_yhymember {
        height: 400px;
    }
}
