:root {
    /* variables for colours */
    --black: #333333;
    --white: #FFFFFF;
    --teal: #55CEBC;
    --peach: #FF7257;
    --yellow: #F5B46B;
    --dark-blue: #1A3263;
    --blue: #778AB1;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a {
    color: var(--white);
    text-decoration: none;
}

/* NAV AND FOOTER SHARED */
#navbar, .footer_section {
    color: var(--white);
}

.logo-title, .footer_title {
    font-size: 1.2em;
}

.logo-slogan, .footer_slogan {
    font-weight: 400;
    font-size: 0.75em;
}

/* TITLES */
.title {
    font-size: 2em;
    text-align: center;
}

/* NAVBAR SECTION */
#navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    top: 0;
    /* padding: 0rem 3rem; */
    z-index: 9999;
    background-color: var(--black);
    box-shadow: 0px 3px 3px rgb(0 0 0 / 25%);
    z-index: 1000;
}

.logo {
    height: fit-content;
    line-height: 50%;
    position: relative;
    left: 1rem;
}

ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
}

.nav-links {
    margin: 0 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.nav-links:hover {
    background-color: var(--blue);
}
.nav_mobile_nav {
    display: none;
}
#navbar-burger {
    display: none;
    cursor: pointer;
    position: relative;
    right: 1rem;
}

.nav-links.clicked {
    display: block;
}

/* Footer Logo Image for Mobile */
.footer_mobile_nav{
    display: none;
}

/* mobile */
@media screen and (max-width: 1024px) {
    .nav-links {
        margin: 0 0.25rem;
        padding: 0.3rem;
    }
}

@media screen and (max-width: 900px) {
    ul {
        position: absolute;
        left: 0;
        top: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: var(--black);
    }

    .nav-links {
        width: 100%;
        display: none;
        padding: 15px 0px;
        cursor: pointer;
    }
    .logo-title {display: none;}
    .logo-slogan {display: none;}
    .nav_mobile_nav {
        display: block;
        width: 50px;
        padding: 10px 0;
        height: auto;
        filter: invert(100%);
    }

    #navbar-burger {
        display: block;
    }
}

/* NAV BAR ^^^ */


/* FOOTER SECTION */
.footer_section {
    height: 15vh;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3rem;
}



.footer_text {
    margin-bottom: -22px;
    padding: 3px;
    left: 80px;
    line-height: 85%;
}

.footer_nav {
    display: flex;
    left: 59.375rem; /* lol ignore this insane measurement, will fix later dw */
    justify-content: center;
    list-style: none;
    font-size: 16px;
    font-weight: 400;
}


.footer_links {
    display: block;
    text-decoration: underline;
    text-underline-offset: 2.5px;
    font-size: 0.9em;
    margin: 0 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
}

.footer_socials {
    position: relative;
    margin-left: auto;
}

.sub_div {
    position: absolute;
    margin-top: 1.6rem;
    margin-left: 2.7rem;
}
.established_text {
    font-weight: 300;
    font-size: 11px;
    /* display: flex;
    justify-content: center;
    text-align: center; */
}

.column {
  float: left;
  padding: 15px; /* spacing between social link logos */ 
}

.socials_links {
    right: 80px;
    display: flex;
    justify-content: center;
    bottom: 390px;
}

/* FOOTER ^^^ */

@media screen and (max-width: 1024px) {
    .footer_section {
        padding: 0rem 0.5rem;
    }
}

@media screen and (max-width: 900px) {
    
    /* Footer Section */
    .footer_section {
        padding: 0rem 1rem;
    }

    .footer_title {display: none;}
    .footer_slogan {display: none;}
     
    .footer_mobile_nav{
        display: block;
        width: 50px;
        padding: 10px 0;
        height: auto;
        filter: invert(100%);
    }
    
}

@media screen and (max-width: 680px){
    
    .footer_section {
        height: 8vh;
        padding: 0rem 1rem;
    }
    .footer_links {display: none;}
    .established_text {display: none;}
    .column {
        padding: 20px;
    }
}