:root {
    /* variables for colours */
    --black: #333333;
    --white: #FFFFFF;
    --teal: #55CEBC;
    --peach: #FF7257;
    --yellow: #F5B46B;
    --dark-blue: #1A3263;
    --blue: #778AB1;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a {
    color: var(--white);
    text-decoration: none;
}

/* NAV AND FOOTER SHARED */
#navbar, .footer_section {
    color: var(--white);
}

.logo-title, .footer_title {
    font-size: 1.2em;
}

.logo-slogan, .footer_slogan {
    font-weight: 400;
    font-size: 0.75em;
}

/* TITLES */
.title {
    font-size: 2em;
    text-align: center;
}

/* NAVBAR SECTION */
#navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: fit-content;
    top: 0;
    /* padding: 0rem 3rem; */
    z-index: 9999;
    background-color: var(--black);
    box-shadow: 0px 3px 3px rgb(0 0 0 / 25%);
    z-index: 1000;
}

.logo {
    height: fit-content;
    line-height: 50%;
    position: relative;
    left: 1rem;
}

ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
}

.nav-links {
    margin: 0 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.nav-links:hover {
    background-color: var(--blue);
}

.nav-links-selected {
    background-color: #496BB1;
}

.nav-links-contact {
    background-color: var(--blue);
}

.nav-links-contact:hover {
    background-color: transparent;
    outline: 2px solid var(--blue);
}



.nav_mobile_nav {
    display: none;
}
#navbar-burger {
    display: none;
    cursor: pointer;
    position: relative;
    right: 1rem;
}

.nav-links.clicked {
    display: block;
}

/* Footer Logo Image for Mobile */
.footer_mobile_nav{
    display: none;
}

/* mobile */
@media screen and (max-width: 1024px) {
    .nav-links {
        margin: 0 0.25rem;
        padding: 0.3rem;
    }
}

@media screen and (max-width: 900px) {
    ul {
        position: absolute;
        left: 0;
        top: 40px;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: var(--black);
    }

    .nav-links {
        width: 100%;
        display: none;
        padding: 15px 0px;
        cursor: pointer;
    }
    .logo-title {display: none;}
    .logo-slogan {display: none;}
    .nav_mobile_nav {
        display: block;
        width: 50px;
        padding: 10px 0;
        height: auto;
        filter: invert(100%);
    }

    #navbar-burger {
        display: block;
    }
}

/* NAV BAR ^^^ */



/* FOOTER SECTION */
.footer_section {
    height: auto;
    background-color: var(--black);
    padding: 20px 0px;
    display:grid;
	grid-gap: 20px;
	justify-items: center;
	grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
}

.footer_text {
    padding: 3px;
}

.footer_nav {
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
}

.footer_links {
    display: inline;
    text-decoration: underline;
    text-underline-offset: 2.5px;
    margin: 0 5px;
}

.footer_socials {
    position: relative;
    margin-left: auto;
    margin-top: 30px;
}

.sub_div {
    position: relative;
  
}
.established_text {
    font-weight: 300;
    font-size: 11px;
}

.column {
  float: left;
  padding: 15px; /* spacing between social link logos */ 
}

.socials_links {
    right: 80px;
    display: flex;
    justify-content: center;
    bottom: 390px;
}

/* FOOTER ^^^ */



/* Top section - FAQ, Events*/
.top-section {
    height: 100vh;
    width: 100%;
}

#top-section-faq {
    background: url('../imgs/faq-cover-image.png') no-repeat top;
}

#top-section-events {
    background: url('../imgs/events-cover-image.jpeg') no-repeat bottom;
}

#top-section-faq, #top-section-events {
    background-size: cover;
}

.top-container {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(4px) brightness(50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10%;
}

.top-title, .top-established {
    color: #FFF;
}

.top-title {
    font-size: 6em;
    text-align: center;
}

.top-established {
    font-family: 'Inter';
    font-size: 1.25em;
    text-align: center;
}

/* Mobile for footer and top section*/

@media screen and (max-width: 900px) {
    /* Top Title*/
    .top_title {
        font-size: 6em;
    }
    /* Footer Section */
    .footer_mobile_nav{
        display: block;
        width: 50px;
        padding: 10px 0;
        height: auto;
        filter: invert(100%);
    }
    
}

@media screen and (max-width: 650px){
    /* Mobile responsive footer */
    .footer_nav {
        margin-top: -10px;
        margin-bottom: -10px;
    }
    
    .footer_links {
        display: block;
        text-align: center;
        margin: 15px;
    }

    /* Mobile responsive footer ^^^ */
}


@media screen and (max-width: 700px){
    /*Top Title*/
    .top-title {
        font-size: 4em;
    }

    .column {
        padding: 20px;
    }
}
