@media only screen and (max-width: 900px) {
  .nav_right {
    display: none;
  }
  .hamburger_menu {
    display: inline;
    color: #FFFFFF;
    float: right;
    padding-right: 20px;
    font-size: 1.5em;
    cursor: pointer;
  }
  .mobile_nav {
    display: flex;
  }
}
@media only screen and (max-width: 1400px) {
    .home_image_container {
        width: 35%;
    }
    .home_image {
        width: 350px;
        top: 120px;
        padding: 50px;
    }
    .home_info_mobile {
        color: #000000;
        font-family: 'Kanit', sans-serif;
        font-size: 20px;
    }
    .logo_wings_image {
        width: 300px;
        top: 120px;
    }
    .logo_center_image {
        width: 140px;
        top: 300px;
    }
}
@media only screen and (max-width: 1400px) {
  /* Code for the what is a hackathon section */
  .what_is_hckthn {
    display: block;
  }

  .what_is_hackathon_image {
    position: relative;
    width: 15em;
    height: auto;
  }

  .what_is_hckthn #text {
    width: 70vw;
    padding-right: 0rem;
  }

  #text {
    width: 70vw;
  }

  .what_is_hckthn #text #title{
    font-size: 2em;
    padding: 20px 0px;
    font-family: Kanit, sans-serif;
  }

  #faq #title {
    font-size: 2em;
    padding: 20px 0px;
  }

  #title, #info {
    text-align: center;
  }
}


@media only screen and (max-width: 700px) {
  /* Code for the home section */
  .home_info {
    display: none;
  }

  .home_info_mobile {
    display: block;
  }

  .home_image_container {
    float: none;
    position: relative;
    margin: 0 auto;
    width: 100%;
    margin-top: -70px;
    margin-bottom: 30px;
  }
  .home_image {
    width: 300px;
    margin-bottom: -120px;
  }
  .right_content {
      width: 90%;
      float:none;
      margin: 0 auto;
  }
  .home_section {
    min-height: 110vh;
  }

  /* Code for the about section */
  .about_image {
    width: 180px;
  }
}

@media only screen and (max-width: 1400px) {
  /* Code for the contact section */
.contact_background {
    padding-bottom: 25px;
}
.contact_headings {
    font-size: 2em;
    text-align: center;
    bottom: 10px;
}
.questions_container {
    text-align: center;
    bottom: -60px;
}
.youthhacks2022_text {
    font-size: 1em;
    width: 100%;
}
.useful_links_text {
    font-size: 1em;
    width: 100%;
    vertical-align: middle;
}
.questions_text {
    font-size: 1em; 
}
.footer_socials {
    vertical-align: middle;
    size: 10em;
}
/* each column container */

.links_container {
      bottom: -20px;
      text-align: center;
      width: 100%;
}
.youthhacks2022_container {
      bottom: 10px;
      text-align: center;
}
.questions_container {
      text-align: center;
      bottom: -60px;
}
.footer_socials {
      vertical-align: middle;
      size: 10px;

}

.footer_container {
    text-align: center;
    margin-top: 100px;
}

.footer_text {
    font-size: 15px;
}
}


@media only screen and (max-width: 1150px) {
  .home_section {
    min-height: auto;
  }
  .landscape {
    margin-top: -200px;
    height: 100vh;
    width: auto;
    left: -20px;
  }
}


@media only screen and (max-width: 650px) {
  .row {
    display: block;
  }
  .question {
    width: 80vw;
    margin: 2rem auto;
  }
}



@media only screen and (max-width: 800px) {
  /*Sponsorship section*/
  .sponsor_section {
    width: 300;
    background-color: #FFFFFF;
    padding: 40px;
    align-content: center;
    /* background: linear-gradient(180deg, #CDFEF7 20.07%, rgba(126, 112, 112, 0) 93.93%); */
  }

  .sponsorship_title {
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    padding: 10px;
    text-align: center;
  }
  .sponsor_logos {
    width: 80%;
    height: auto;
  }
  .xyz_logo {
    width: 40%;
    height: auto;
  }
  .sponsorship_text {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
  }

  .cyan {
    text-decoration: none;
  }

  .view_sponsor_btn {
    color: #FFFFFF;
    position: relative;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 6px 0px 19px rgba(0, 0, 0, 0.25);
    display: block;
    font-size: 1.2em;
    line-height: 40px;
    text-decoration: none;
    margin-top: 20px;
    width: 300px;  
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
  }
}