html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 100%;
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    width: 100%;
    top: 0;
    background: #333333;
    height: 70px;
    filter: drop-shadow(0px 14px 23px rgba(0, 0, 0, 0.25));
}

.navbar_ul {
    list-style-type: none;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.navbar_li_left {
    float: left;
}

.navbar_li {
    padding-right: 15px;
    float: right;
}

.navbar_li_text {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}


.home_section {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #97DBD1 40.07%, rgba(196, 196, 196, 0) 93.93%);
}

.home_content {
    top: 25vh;
    position: relative;
}

.home_content:after {
    /* Clear floats after the columns */
    content: "";
    display: table;
    clear: both;
}


.home_image_container {
    float:left;
    width: 35%;
}
.home_image {
    width: 220px;
    height: auto;
    margin: 0 auto;
    display: block;
    top: 20px;
    position: relative;
}

.right_content {
    width: 65%;
    float:left;
}

.home_info {
    font-size: 2em;
}

.home_title {
    font-size: 3em;
    margin: -20px 0px -20px 0px;
}

.sign_up_btn {
    color: #FFFFFF;
    font-family: NATS;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #55CEBC;
    box-shadow: 6px 0px 19px rgba(0, 0, 0, 0.25);
    display: block;
    height: 55px;
    /* width: 200px; */
    width: 300px;
    font-size: 1.2em;
    line-height: 55px;
    text-decoration: none;
}

/*About section*/ 
.about_background {
    min-height: 50vh;
    width: 100%;
    background-color: #CBFFF7;
}

.about_image {
    width: 240px;
    height: auto;
    margin: 0 auto;
    display: block;
    top: 20px;
    position: relative;
    filter: drop-shadow(0px 1px 9px #55CEBC);
}

.about_image_container {
    float:center;
    width: 35%;
}

.about_content {
    text-align: center;
    padding: 50px 50px 75px 50px;
}

.about_title {
    font-size: 3em;
    font-family: 'NATS', 'Poppins', sans-serif;
    margin: -20px 0px -20px 0px;
    color: #333333;
    text-shadow: 0px 7px 17px rgba(0, 0, 0, 0.25);
}

.about_info {
    font-family: 'Inter', 'Poppins', sans-serif;
    /* font-size: 1em; */ 
    line-height: 1.5;

}

/*Contact section*/
.contact_background {
  width: 300;
  background-color: #333333;
  padding: 50px;
  border-top: 30px solid #00FED8;
  box-shadow: 0px 20px 40px #333333;
}
.contact_headings {
  color: #00FED8;
  font-size: 40px;
  font-family: 'NATS', 'Poppins', sans-serif;
}
/* each column container */

.links_container {
    text-align: center;
}
.youthhacks2022_container {
    text-align: left;
}
.questions_container {
    text-align: right;
}
.youthhacks2022_text {
    color: #00FED8;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}
.useful_links_text {
    color: #00FED8;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}
.questions_text {
    color: #00FED8;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}