:root {
    --main-colour: #4EEFD7;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 100%;
}

.desktop_nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    width: 100%;
    top: 0;
    background: #333333;
    height: 70px;
    filter: drop-shadow(0px 14px 23px rgba(0, 0, 0, 0.25));
    z-index: 99;
}

.navbar_ul {
    list-style-type: none;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.navbar_li_left {
    float: left;
    padding-left: 55px;
}

.navbar_li {
    padding-right: 15px;
    float: right;
}

.navbar_li_text {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    transition: 0.3s;
}

.navbar_li_text:hover {
    color: var(--main-colour);
}

.nav_logo {
    width: 30px;
    height: auto;
    position: absolute;
    margin-left: -40px; /* 55 - 40 = 15 margin left */
}

.mobile_nav {
    display: none;
    position: fixed;
    width: 60%;
    top: 0;
    background: #333333;
    height: 100vh;
    z-index: 98;
    right: -100%;
    transition: 0.4s;
    box-shadow: -5px 0 15px -5px #000000;
}

.hamburger_menu {
    display: none;
}

.mobile_navbar_ul {
    list-style-type: none;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-top: 200px;
    margin-right: 20px;
}

.mobile_navbar_li {
    text-align: right;
    padding: 5px;
}

.close_mobnav_icon {
    color: #FFFFFF;
    float: right;
    display: none;
    padding-right: 20px;
    font-size: 1.5em;
    cursor: pointer;
}
.mobile_nav_text {
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    transition: 0.3s;
}

.mobile_nav_text:hover {
    color: var(--main-colour);
}

.nav_blur {
    display: none;
    width: 100vw;
    height: 100vh;
    background: #000000;
    opacity: 0.7;
    z-index: 60;
    position: fixed;
    top: 0;
}
.home_section {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #97DBD1 40.07%, rgba(196, 196, 196, 0) 93.93%);
}

.home_content {
    top: 25vh;
    position: relative;
}

.home_content:after {
    /* Clear floats after the columns */
    content: "";
    display: table;
    clear: both;
}

.home_image_container {
    float:left;
    width: 35%;
}

.home_image {
    width: 220px;
    height: auto;
    margin: 0 auto;
    display: block;
    top: 20px;
    position: relative;
}

.right_content {
    width: 65%;
    float:left;
}

.home_info {
    font-size: 2em;
    margin: 10px 0px 10px 0px;
    color: #000000;
    font-family: 'Kanit', sans-serif;
}
.home_info_mobile {
    display: none;
    font-size: 2em;
  }

.home_title {
    font-size: 3em;
    color: #000000;
    font-family: 'Kanit', sans-serif;
}

.sign_up_btn {
    color: #FFFFFF;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #55CEBC;
    box-shadow: 6px 0px 19px rgba(0, 0, 0, 0.25);
    display: block;
    height: 55px;
    /* width: 200px; */
    width: 300px;
    font-size: 1.2em;
    line-height: 55px;
    text-decoration: none;
    position: relative;
    margin-top: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.sign_up_btn:hover {
    background: #97DBD1; 
}

/*About section*/ 
.about_background {
    min-height: 50vh;
    width: 100%;
}

.about_image {
    width: 200px;
    height: auto;
    margin: 0 auto;
    display: block;
    top: 45px;
    margin-bottom: 20px;
    position: relative;
    filter: drop-shadow(0px 1px 9px #55CEBC);
}

.about_text {
    background: #CBFFF7;
    position: relative;
    top: 25px;
    padding: 0px 50px;
}
.about_content {
    text-align: center;
    background: #5e9287;
    padding: 50px 0px;
}

.triangle_base {
    width: 0;
    height: 0;
    border-style: solid;
}

.top_triangles {
    margin-bottom: -200px;
    z-index: 2;
}

.outer_triangle_top {
    border-width: 0 60vw 250px 60vw;
    border-color: transparent transparent #55CEBC transparent;
    margin-left: -10vw;
}

.middle_triangle_top {
    border-width: 0 55vw 225px 55vw;
    border-color: transparent transparent #85F8E7 transparent;
    margin-top: -225px;
    margin-left: -5vw;
}

.inner_triangle_top {
    border-width: 0 50vw 200px 50vw;
    border-color: transparent transparent #CBFFF7 transparent;
    margin-top: -200px;
}

.outer_triangle_bottom {
    border-width: 250px 60vw 0 60vw;
    border-color: #55CEBC transparent transparent transparent;
    margin-left: -10vw;
}

.middle_triangle_bottom {
    border-width: 225px 55vw 0 55vw;
    border-color: #85F8E7 transparent transparent transparent;
    z-index: 1;
    margin-bottom: -225px;
    margin-left: -5vw;
    position: relative;
}
.inner_triangle_bottom {
    border-width: 200px 50vw 0 50vw;
    border-color: #CBFFF7 transparent transparent transparent;
    margin-top: -50px;
    margin-bottom: -200px;
    z-index: 2;
    position: relative;
}

.about_title {
    font-size: 3em;
    font-family: 'NATS', 'Poppins', sans-serif;
    color: #333333;
    text-shadow: 0px 7px 17px rgba(0, 0, 0, 0.25);
}

.about_info {
    font-family: 'Inter', 'Poppins', sans-serif;
    /* font-size: 1em; */ 
    line-height: 1.5;
    padding: 10px 50px 75px -5px;
    margin-bottom: 75px;
}

/* What is a hackathon */
.divider {
    height: 1.5rem;
    background-color: #00FFD9;
}

#top {
    box-shadow: 0px -14px 19px rgba(0, 0, 0, 0.25);
}

#bottom {
    box-shadow: 0px 14px 19px rgba(0, 0, 0, 0.25);
}

.what_is_hackathon {
    background-color: #CDFEF7;
    padding: 2rem 0px 2rem 0px;
}

.what_is_hckthn {
    display: inline-flex;
}

.what_is_hckthn #image {
    width: 50vw;
    display: block;
    text-align: center;
    margin: auto;
}

.what_is_hackathon_image {
    position: relative;
    width: 25em;
    height: auto;
}

.what_is_hckthn #text {
    display: block;
    margin: auto;
    text-align: right;
    width: 50vw;
    padding-right: 3rem;
}

.what_is_hckthn #text #info {
    font-family: Poppins, Inter, sans-serif;
    font-style: regular;
    font-size: 1em;
}

.what_is_hckthn #text #title{
    font-family: NATS, sans-serif;
    font-size: 3em;
    text-shadow: 0px 7.16px 10px rgba(0, 0, 0, 0.25);
 }

/* FAQ Section */
#faq {
    background-color: #333333;
    padding: 2rem 0px 2rem 0px;
}

#faq #title {
    font-family: NATS, sans-serif;
    color: white;
    font-size: 3em;
    font-style: bold;
    text-align: center;
}

#faq #info {
    font-family: NATS, sans-serif;
    color: white;
    font-size: 1em;
    text-align: center;
    padding: 15px 10px;

}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col {
    justify-content: space;
}

.question {
    width: 40vw;
    margin: 2rem;
    box-shadow: 13px 13px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}

.question:hover {
    transform: scale(1.05);
    box-shadow: 15px 15px rgba(0, 0, 0, 0.25);
}

.question .question_teal{
    background-color: #00FFD9;
    padding: 2rem;
}

.question .question_white {
    background-color: white;
    padding: 2rem;
}

.question .question_title {
    font-family: Roboto, sans-serif;
    font-size: 25px;
    padding-bottom: 7px;
}

.question .answer {
    font-family: Roboto, sans-serif;
}

/*Sponsorship section*/
.sponsor_section {
    width: 300;
    background-color: #FFFFFF;
    padding: 50px;
    align-content: center;
    /* background: linear-gradient(180deg, #CDFEF7 20.07%, rgba(126, 112, 112, 0) 93.93%); */
  }

.sponsorship_title {
    font-family: 'Kanit', sans-serif;
    font-size: 100px;
    padding: 20px;
    color:#4EEFD7;
    text-align: center;
}

.sponsorship_text {
    font-family: Poppins, sans-serif;
    font-size: 25px;
    padding: 50px;
    text-align: center;
    text-decoration: none;
}

.cyan {
    color: #4EEFD7;
    text-decoration: none;
}

.view_sponsor_btn {
    color: #FFFFFF;
    position: relative;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #55CEBC;
    box-shadow: 6px 0px 19px rgba(0, 0, 0, 0.25);
    display: block;
    font-size: 1.2em;
    line-height: 55px;
    text-decoration: none;
    margin-top: 20px;
    width: 300px;  
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    transition: 0.3s;
}

.view_sponsor_btn:hover {
    background: #97DBD1; 
}

/*Contact section*/
.contact_background {
  width: 300;
  background-color: #333333;
  padding: 50px;
  border-top: 30px solid #00FED8;
  box-shadow: 0px 20px 40px #333333;
}
.contact_headings {
  color: #00FED8;
  font-size: 40px;
  font-family: 'NATS', 'Poppins', sans-serif;
}
/* each column container */

.links_container {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    text-align: center;
    position: relative;
    bottom: 135px;
}
.youthhacks2022_container {
    text-align: left;
}

.questions_container {
    text-align: right;
    position: relative;
    bottom: 310px;
}
.youthhacks2022_text {
    color: #ffffff;
    font-size: 25px;
    width: 20em;
    font-family: 'Kanit', sans-serif;
    font-weight: normal;
}
.useful_links_text {
    color: #ffffff;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    font-weight: normal;
}
.questions_text {
    color: #ffffff;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    font-weight: normal;
    text-decoration: none;
}
.footer_elements {
    vertical-align: middle;
}

.footer_container {
    text-align: center;
    margin-top: -130px;
}

.footer_text {
    color: #000000;
    font-family: 'Kanit', sans-serif;
}

/* Space class for viewing purposes */
.space {
    height: 50vh;
}